* {
  padding: 0;
  margin: 0;
}
body {
  background-color: #ccc;
}
section {
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  border: 2px solid #000;
  overflow: hidden;
  /*li{
    width:100%;
    height:100%;
    position:absolute;
    list-style:none;
    background-repeat:no-repeat;
    background-size:cover;
  }*/
}
section .around {
  z-index: 10;
  position: absolute;
  height:100px;
  top: 50%;
  border: 2px solid red;
}
section .around .lists {
  z-index: 11;
  position: relative;
  width: 20px;
  height:100px;
  top:-50%;
  left: 10px;
  padding: 5px 0;
  border: 2px solid #000;

  /* a{
         width:20px;
         height:20px;
         display: inline-block;
         margin:5px 0;
         border-radius:10px;
         border:1px solid #fff;
         box-shadow:0 0 5px #000;
         background-color:#fff;
       }
       a[name=intro]{
         background-color: transparent;
       }*/
}
/*.intro{
  background-image:url("images/1.jpg");
}
.blog{
  background-image:url("images/2.png");
}
.inspiration{
  background-image:url("images/3.jpg");
}
.moveUP{
  bottom:100%;
}
.moveDown{
  top:100%;
}*/
